.search__box {
  margin: 0 auto;
  max-width: 608px;
}

@media screen and (max-width: 768px) {
  .search__box {
    max-width: 448px;
  }
}

@media screen and (max-width: 320px) {
  .search__box {
    max-width: 288px;
  }
}