.articles__subtitle {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: rgba(26, 27, 34, 0.5);
  margin-top: 40px;
  margin-bottom: 0;
  margin-left: 104px;
}

@media screen and (max-width: 1024px) {
  .articles__subtitle {
    margin-left: 40px;
  }
}

@media screen and (max-width: 768px) {
  .articles__subtitle {
    font-size: 14px;
    line-height: 24px;
    margin-top: 24px;
  }
}


@media screen and (max-width: 320px) {
  .articles__subtitle {
    margin-left: 16px;
    margin-bottom: 16px;
    margin-top: 10px;
  }
}