.popup__alt-button {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #2f71e5;
  border: none;
  background: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}