.search__button {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  background: #2F71E5;
  color: white;
  padding: 24px;
  margin-right: 0;
  margin-left: -168px;
  box-sizing: border-box;
  border: none;
  width: 168px;
  z-index: 1;
}

.search__button:hover {
  background: #347EFF;
  box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
}

.search__button:active {
  background: #2A65CC;
}

@media screen and (max-width: 720px) {
  .search__button {
    margin: 16px auto 0;
    height: 56px;
    padding: 16px;
  }
}