@import url('./_type/article__button_type_like.css');
@import url('./_type/article__button_type_delete.css');

.article__button {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  border-style: none;
  background-color: white;
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 0;
}



@media screen and (max-width: 900px) {
  .article__button {
    top: 8px;
    right: 8px;
  }
}